/* Define the grid container */
body{
    display: grid;
    grid-template-areas: "header header header"
                        " search_function calendar shoppinglist"
                        "footer footer footer";
    grid-template-rows: 10% 80% 10% ;
    grid-template-columns: auto 70% 15%;
}

/* Define the header */
header {
    grid-area: header;
    grid-column:1/4;
    grid-row:1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
}

/* Define the search function */
#search_function {
    grid-area: search_function;
    grid-column:1;
    grid-row:2;
    background-color: #ccc;
}

/* Define the calendar */
#calendar {
    grid-area:calendar;
    grid-column:2/3;
    grid-row:2;
    background-color: #ccc;
}

/* Define the shopping list */
#shoppinglist {
    grid-area:shoppinglist;
    grid-column:3;
    grid-row:2;
    background-color:aqua;
}
#list{
    list-style: none;
}
/* Define the footer */
footer {
    grid-area:footer;
    grid-column:1/4;
    grid-row:3;
    background-color: black;
    color: #fff;
    margin:0;
    padding:0;
}
#Navbar {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  #Navbar li {
    float: left;
  }
  
  #Navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #Navbar li a:hover {
    background-color: #111;
  }
  